body {
	background-color: lightgreen;
}
.main-navigation {
	width: auto;
	padding: 10px;
	float: left;
	margin-top: 20px;
	margin-left: 300px;
	margin-right: 350px;
	background-color: green;
	color: yellow;
	border-radius: 5px;
}
/* Вход */
.user-block {
	width: 100px;
	padding: 10px;
	border-radius: 5px;
	float: right;
	background-color: green;
	box-sizing: border-box;
	margin-top: 20px;
	margin-right: 20px;
	
	
}
.index-logo {
	width: 97px;
	float: left;

}
.main-header {
border: 1px solid black;
min-height: 95px;
padding-left: 40px;	
}
span {
	padding: 25px;
	color: yellow;
}
.container: {
	background-color: green;
}
.index-logo {
	border: 1px solid black;
}
.column1, .column2, .column3 {
	border: 1px solid black;
	min-height: 60px;
}
.column1 {
	margin-top: 20px;
	
	width: 350px;
	float: left;
	background-color: blue;
}
.column2 {
	width: 600px;
	margin: 20px;
	float:left;
	background-color: green;
	
}
.column3 {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	float: left;
	background-color: red;
}

	
	
	
	

