body {
	background-color: lightgreen;
}
.main-navigation {
	width: auto;
	padding: 10px;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	background-color: green;
	color: yellow;
	border-radius: 5px;
}
/* Вход */
.user-block {
	width: 100px;
	padding: 10px 10px 10px 27px;
	border-radius: 5px;
	float: left;
	background-color: green;
	box-sizing: border-box;
	
	
}
.index-logo {
	width: 97px;
	float: left;
}
.main-header: {
border: {
	1px solid black;
}
}
span {
	padding: 5px;
	color: yellow;
}
.container: {
	background-color: green;
}
.index-logo {
	
}

	
	
	
	

